.forminput-container {
  & > label {
    margin-top: 1rem;
    display: block;
    margin-bottom: 1.4rem;
    font-size: 1.8rem;
  }
  & > input {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2.4rem;
    border-radius: 1rem;
    border: 0.37px solid #585858;
    font-size: 1.6rem;
    background: transparent;
    width: 100%;
    color: white;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #b4b4b4;
      font-weight: 400;
    }
  }
  & > div {
    color: rgb(252, 47, 47);
    margin-left: 1rem;
    font-size: 1.5rem;
    height: 1.5rem;
  }
}


