@import './mixins';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto";
  background-color: rgba(0, 0, 0, 0.753);
  color: white;
}

html {
  // This defines what 1rem is
  font-size: 52%;
  @include respond(phone) {
    font-size: 36%;
  }
  @include respond(tab-land) {
    font-size: 40%;
  }
  @include respond(surface) {
    font-size: 41%;
  }
  @include respond(laptop) {
    font-size: 48%;
  }

}
